body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8ffe5; 
    color: #175676;
    text-align: center;
}

header {
    background-color: #4ba3c3; 
    color: white;
    padding: 30px;
}

header h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    background-color: #175676; 
    padding: 10px 0;
}

nav button {
    background-color: #cce6f4;
    border: none;
    color: #175676;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #4ba3c3;
    color: white;
}


.residence-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.residence-list h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #175676;
}

.residence {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 16px auto;
}

.residence img {
    width: 90%;
    max-width: 300px;
    height: 185px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.residence img:hover {
    transform: scale(1.1);
}

.residence h3 {
    font-size: 14px;
    color: #175676;
    margin-top: 5px;    
}

a {
    text-decoration: none;
}

footer {
    background-color: #175676; 
    color: white;
    padding: 10px;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    position: absolute;
    top: 122px;
    left: 10%;
    border: 1px;

}

.search-input {
    font-size: 16px;
    font-family: 'Lexand', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 200px;
    text-transform: capitalize;
}

.search-input::placeholder, 
.search-icon{
    color: rgba(0, 0, 0, 0.5);
}